@{
    ViewBag.Title = "Confirm Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Thank you for confirming your email. Please <a data-toggle="modal" data-target="#modal-login">Click Here to Log In</a>
    </p>
</div>
