@{
    ViewBag.Title = "Confirm Email Address Sent";
}
<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-12">
        Please check your Email Inbox. We sent a confirmation Email to @ViewBag.Email. <br/> You must confirm your email before you can log in.
    </div>
</div>