<div class="container-fluid pr-0 pl-0">
    <section class="section page-top-section mb-5 wow fadeIn" data-wow-delay="0.2s">
        <div class="row">
            <div class="col-12">
                <h1 class="section-heading">Stories</h1>
            </div>
            <div class="col-12">
                <p class="section-description"><i>hear about the impact we are having in our community</i></p>
            </div>
        </div>
    </section>

    <div class="streak bg-purple">
        <div class="flex-center">
            <ul class="list-unstyled">
                <li><h1 class="h1-responsive wow fadeIn" data-wow-delay="0.4s">Coming Soon...</h1></li>
            </ul>
        </div>
    </div>

</div>
