@using Microsoft.AspNet.Identity

<div class="container">


    <section class="section page-top-section mb-4 wow fadeIn" data-wow-delay="0.2s">
        <div class="row">
            <div class="col-12">
                <h1 class="section-heading">Request Clothing</h1>
            </div>
            <div class="col-12">
                <p class="section-description"><i>how to get clothes for your child</i></p>
            </div>
            <div class="col-12" style="text-align:center;">
                <span>Share</span>
                <!--Facebook-->
                <a id="FBShare" type="button" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"></i></a>

                <!--Twitter-->
                <a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fgivekidsclothes.com%2FRequest-Clothes&hashtags=givekidsclothes&text=Request+clothes+for+a+child+in+need."
                   type="button" class="btn-floating btn-small btn-tw">
                    <i class="fa fa-twitter"></i>
                </a>
            </div>
        </div>
    </section>

    <hr class="between-sections">

    <!--Section: Parents-->
    <div class="section feature-box">
        <!--Section heading-->
        <h1 class="section-heading wow fadeIn" data-wow-delay="0.2s">Parents</h1>
        <!--Section description-->
        <p class="section-description wow fadeIn" data-wow-delay="0.4s">If you need clothing or hygiene items for your child or a child in your care we would love to help! The process to request a bag for your child is simple and quick.</p>

        <!--First row-->
        <div class="row features-small wow fadeIn" data-wow-delay="0.4s">
            <!--First column-->
            <div class="col-md-5 mb-r center-on-small-only align-self-center">
                <img src="~/Content/img/ClotheOurKids/COKJULY-13.jpg" class="img-fluid" style="max-height: 500px;" />
            </div>
            <!--/First column-->

            <!--Second column-->
            <div class="col-md-7 center-on-small-only">
                <!--First row-->
                <div class="row">
                    <div class="col-12">
                        <h4 class="feature-title">Call your school</h4>
                        <p class="grey-text">Call your child's school and speak with their counselor or teacher about requesting a bag for your child through Clothe Our Kids.</p>
                    </div>
                </div>
                <!--/First row-->

                <div style="height:50px"></div>

                <!--Second row-->
                <div class="row">
                    <div class="col-12">
                        <h4 class="feature-title">School Official Sends Request</h4>
                        <p class="grey-text">Your child's school counselor or teacher will send us a request for needed clothing and hygiene items for your child.</p>
                    </div>
                </div>
                <!--/Second row-->

                <div style="height:50px"></div>

                <!--Third row-->
                <div class="row">
                    <div class="col-12">
                        <h4 class="feature-title">Delivery</h4>
                        <p class="grey-text">Your child's items will be delivered to your child's school in a discrete bag. The school will pass on the bag to your child to take home.</p>
                    </div>
                </div>
                <!--/Third row-->
            </div>
            <!--/Second column-->
        </div>
        <!--/First row-->
    </div>
    <!--/Section: Parents-->

    <hr class="between-sections">

    <!--Section: SchoolOfficials-->
    <section id="SchoolOfficials"   class="section">
        <h1 class="section-heading">School Officials</h1>
        <p class="section-description">
            To make sure that we keep track of every clothing request and to make the process as fast as possible we created a way for you to submit your clothing requests directly from our website.
            <br /><br />                       
        </p>
        @if (!Request.IsAuthenticated)
        {
            <p class="section-description">Please log in to request clothes for a child.</p>
        }
        
        <div class="d-flex justify-content-center">
            
            @if (Request.IsAuthenticated)
            {
                <button class="btn btn-outline-primary" type="button" onclick="location.href='@Url.Action("RequestClothesForm", "RequestClothes")'">Clothing Request Form</button>
            }
            else
            {
                <button class="btn btn-outline-primary" type="button" data-toggle="modal" data-target="#modal-login">Login</button>
                <button class="btn btn-outline-success" type="button" onclick="location.href='@Url.Action("Register", "Account")'">Register</button>
            }

        </div>
    </section>
    <!--Section: SchoolOfficials-->
</div>


@section customScript
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#FBShare').click(function () {
                FB.ui({
                    method: 'share',
                    mobile_iframe: true,
                    href: 'https://www.givekidsclothes.com/Request-Clothes',
                }, function (response) { });
            });
        });
    </script>
}
