<div class="container">

    <section class="section page-top-section mb-4 wow fadeIn" data-wow-delay="0.2s">
        <div class="row">
            <div class="col-12">
                <h1 class="section-heading">Leadership</h1>
            </div>
            <div class="col-12">
                <p class="section-description"><i>learn about the people behind this organization</i></p>
            </div>
            <div class="col-12" style="text-align:center;">
                <span>Share</span>
                <!--Facebook-->
                <a id="FBShare" type="button" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"></i></a>

                <!--Twitter-->
                <a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fgivekidsclothes.com%2FWhat-We-Do&hashtags=givekidsclothes&text=Find%20out%20what%20we%20give%20to%20kids%20in%20need."
                   type="button" class="btn-floating btn-small btn-tw">
                    <i class="fa fa-twitter"></i>
                </a>

                <!--Email-->
                <a type="button" class="btn-floating btn-small btn-email"><i class="fa fa-envelope"></i></a>

            </div>
        </div>
    </section>

    <hr class="between-sections">

    <!--Section: Team v.1-->
    <section class="section team-section">

        <!--Section heading-->
        <h1 class="section-heading">Meet Our Officers</h1>
        <!--Section description-->
        <p class="section-description">Our officers are dedicated to ensuring that we do everything that we can to clothe kids in North Alabama.</p>

        <!--First row-->
        <div class="row text-center">

            <!--First column-->
            <div class="col-lg-4 col-md-12 mb-r">

                <div class="avatar">
                    <img src="~/Content/img/brandi.jpg" class="rounded-circle">
                </div>
                <h4>Brandi Breeden</h4>
                <h5>President / Co-Founder</h5>
                <p>Brandi is the life and soul of our organization. She pours herself into the day to day operations, administrative tasks, outreach, and vision of Clothe Our Kids of North Alabama.</p>

            </div>
            <!--/First column-->
            <!--Second column-->
            <div class="col-lg-4 col-md-12 mb-r">

                <div class="avatar">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle">
                </div>
                <h4>Perry Jeffers</h4>
                <h5>Vice President</h5>
                <p>Perry serves as our Vice President. He dedicates his time to assist Brandi with many day to day activities as well as offering guidance and wisdom in the vision and planning of our operations.</p>

            </div>
            <!--/Second column-->
            <!--Third column-->
            <div class="col-lg-4 col-md-12 mb-r">

                <div class="avatar">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle">
                </div>
                <h4>Michael Breeden</h4>
                <h5>Secretary / Treasurer / Co-Founder</h5>
                <p>Michael serves as our Secretary and Treasurer and helps out with the day to day activities as often as possible. He is also responsible for building and maintaining our website.</p>

            </div>
            <!--/Third column-->

        </div>
        <!--/First row-->

    </section>
    <!--/Section: Team v.1-->


</div>
