<div class="container">

    <section class="section page-top-section mb-4 wow fadeIn" data-wow-delay="0.2s">
        <div class="row">
            <div class="col-12">
                <h1 class="section-heading mb-2">Leadership</h1>
            </div>
            <div class="col-12">
                <p class="section-description mb-2"><i>learn about the people behind this organization</i></p>
            </div>
            <div class="col-12 flex-center">
                <span>Share</span>
                <!--Facebook-->
                <a id="FBShare" type="button" class="ml-3 btn-floating btn-sm btn-fb"><i class="fa fa-facebook"></i></a>

                <!--Twitter-->
                <a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fgivekidsclothes.com%2FLeadership&hashtags=givekidsclothes&text=Learn+about+the+people+behind+this+organization."
                   type="button" class="ml-0 btn-floating btn-sm btn-tw">
                    <i class="fa fa-twitter"></i>
                </a>
            </div>
        </div>
    </section>

    <hr class="between-sections">

    <!--Section: Team v.1-->
    <section class="section team-section">

        <!--Section heading-->
        <h1 class="section-heading">Meet Our Officers</h1>
        <!--Section description-->
        <p class="section-description">Our officers are dedicated to ensuring that we do everything that we can to clothe kids in North Alabama.</p>

        <!--First row-->
        <div class="row text-center">

            <!--First column-->
            <div class="col-lg-4 col-md-12 mb-r">

                <div class="avatar">
                    <img src="~/Content/img/ClotheOurKids/Brandi_scaled.JPG" class="rounded-circle"/>
                </div>
                <h4>Brandi Breeden</h4>
                <h5>President / Co-Founder</h5>
                <p>Brandi is the life and soul of our organization. She pours herself into the day to day operations, administrative tasks, outreach, and vision of Clothe Our Kids of North Alabama.</p>

            </div>
            <!--/First column-->
            <!--Second column-->
            <div class="col-lg-4 col-md-12 mb-r">

                <div class="avatar">
                    <img src="~/Content/img/ClotheOurKids/comingSoon_scaled.jpg" class="rounded-circle">
                </div>
                <h4>Perry Jeffers</h4>
                <h5>Vice President</h5>
                <p>Perry serves as our Vice President. He dedicates his time to assist Brandi with many day to day activities as well as offering guidance and wisdom in the vision and planning of our operations.</p>

            </div>
            <!--/Second column-->
            <!--Third column-->
            <div class="col-lg-4 col-md-12 mb-r">

                <div class="avatar">
                    <img src="~/Content/img/ClotheOurKids/Michael_scaled.JPG" class="rounded-circle"/>
                </div>
                <h4>Michael Breeden</h4>
                <h5>Secretary / Treasurer / Co-Founder</h5>
                <p>Michael serves as our Secretary and Treasurer. He helps out with the day to day activities as often as possible, but the majority of his work happens behind the scenes. He dedicates his time after his day job to building and maintaining our website.</p>

            </div>
            <!--/Third column-->

        </div>
        <!--/First row-->

    </section>
    <!--/Section: Team v.1-->

    <hr class="between-sections" />

    <!--Section-->
    <section class="section">
        <!--Section heading-->
        <h1 class="section-heading">Clothe Our Kids of North Alabama Board of Directors</h1>
        <!--Section description-->
        @*<p class="section-description">Clothe Our Kids of North Alabama Board Members</p>*@

        <p class="text-center">
            Brandi Breeden <br />
            Michael Breeden <br />
            Melanie Burger <br />
            Perry Jeffers <br />
            Amanda McAlpin <br />
            Cindy Sandoval
        </p>
    </section>
    <!--/Section-->
</div>


@section customScript
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#FBShare').click(function () {
                FB.ui({
                    method: 'share',
                    mobile_iframe: true,
                    href: 'https://www.givekidsclothes.com/Leadership',
                }, function (response) { });
            });
        });
    </script>
}
