@section pageCSS
{
    <style>
        .card-wrapper {
            min-height: 450px;
        }
    </style>
}

<div class="container">

    <section class="section page-top-section mb-5 wow fadeIn" data-wow-delay="0.2s">
        <div class="row">
            <div class="col-12">
                <h1 class="section-heading mb-2">Leadership</h1>
            </div>
            <div class="col-12">
                <p class="section-description mb-2"><i>learn about the people behind this organization</i></p>
            </div>
            <div class="col-12 flex-center">
                <span class="mt-1">Share</span>
                <!--Facebook-->
                <a id="FBShare" type="button" class="ml-2 btn-floating btn-sm btn-fb"><i class="fa fa-facebook"></i></a>

                <!--Twitter-->
                <a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fgivekidsclothes.com%2FLeadership&hashtags=givekidsclothes&text=Learn+about+the+people+behind+this+organization."
                   type="button" class="ml-1 btn-floating btn-sm btn-tw">
                    <i class="fa fa-twitter"></i>
                </a>
            </div>
        </div>
    </section>

    <hr class="between-sections"/>


    <!--Section: Team v.4-->
    <section class="section pb-3 wow fadeIn" data-wow-delay="0.4s">

        <!--Section heading-->
        <h2 class="text-center h1 py-5">Meet Our Founders</h2>
        <!--Section description-->
        <p class="grey-text pb-5 text-center">
            Our founders shared a vision to clothe kids across the United States.
            <br />They joined together and started Clothe Our Kids Foundation to make this vision a reality!
        </p>

        <div class="row">

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-3 ml-auto">

                <!--Rotating card-->
                <div class="card-wrapper">
                    <div id="card-1" class="card-rotating effect__click text-center w-100 h-100">

                        <!--Front Side-->
                        <div class="face front">

                            <!-- Image-->
                            <div class="card-up">
                                <img src="~/Content/img/ClotheOurKids/Brandi_scaled.JPG" alt="Team member card image">
                            </div>


                            <!--Content-->
                            <div class="card-body">
                                <h4 class="mt-1">Laura Mayer</h4>
                                <p class="font-weight-bold dark-grey-text">Vision, Expansion, Funding</p>
                                <!--Triggering button-->
                                <a class="rotate-btn grey-text" data-card="card-1">
                                    <i class="fa fa-repeat grey-text"></i> Find out more
                                </a>
                            </div>

                        </div>
                        <!--Front Side-->
                        <!--Back Side-->
                        <div class="face back">

                            <!--Content-->
                            <div class="card-body">

                                <!--Content-->
                                <h4 class="font-weight-bold mt-4 mb-2">
                                    <strong>About me</strong>
                                </h4>
                                <hr>
                                <p>
                                    Laura sets the global vision for our Foundation. 
                                    She drives our expansion into new locations through speaking engagements and intentional networking. 
                                    She also explores new fundraising opportunities and directs distribution of funding to Clothe Our Kids chapters.
                                </p>
                                <hr>
                                <!--Social Icons-->
                                <ul class="list-inline list-unstyled">
                                    <li class="list-inline-item">
                                        <a class="icons-sm fb-ic">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="icons-sm ins-ic">
                                            <i class="fa fa-instagram"> </i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="icons-sm tw-ic">
                                            <i class="fa fa-twitter"> </i>
                                        </a>
                                    </li>
                                </ul>
                                <!--Triggering button-->
                                <a class="rotate-btn grey-text" data-card="card-1">
                                    <i class="fa fa-repeat grey-text"></i> Rotate back
                                </a>

                            </div>

                        </div>
                        <!--Back Side-->

                    </div>
                </div>
                <!--Rotating card-->

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4 mr-auto">

                <!--Rotating card-->
                <div class="card-wrapper">
                    <div id="card-2" class="card-rotating effect__click text-center w-100 h-100">

                        <!--Front Side-->
                        <div class="face front">

                            <!-- Image-->
                            <div class="card-up">
                                <img src="~/Content/img/ClotheOurKids/Brandi_scaled.JPG" alt="Team member card image">
                            </div>

                            <!--Content-->
                            <div class="card-body">
                                <h4 class="mt-1">Brandi Breeden</h4>
                                <p class="font-weight-bold dark-grey-text">Operations, Planning, Training</p>
                                <!--Triggering button-->
                                <a class="rotate-btn grey-text" data-card="card-2">
                                    <i class="fa fa-repeat grey-text"></i> Find out more
                                </a>
                            </div>

                        </div>
                        <!--Front Side-->
                        <!--Back Side-->
                        <div class="face back">

                            <!--Content-->
                            <div class="card-body">

                                <!--Content-->
                                <h4 class="font-weight-bold mt-4 mb-2">
                                    <strong>About me</strong>
                                </h4>
                                <hr>
                                <p>
                                    Brandi oversees the day-to-day operations at all of our chapters.
                                    She provides oversight to foundation planning acivities.
                                    She also coordinates training activities for Chapter Presidents and Support Volunteers.
                                </p>
                                <hr>
                                <!--Social Icons-->
                                <ul class="list-inline list-unstyled">
                                    <li class="list-inline-item">
                                        <a class="icons-sm fb-ic">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="icons-sm ins-ic">
                                            <i class="fa fa-instagram"> </i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="icons-sm tw-ic">
                                            <i class="fa fa-twitter"> </i>
                                        </a>
                                    </li>
                                </ul>
                                <!--Triggering button-->
                                <a class="rotate-btn grey-text" data-card="card-2">
                                    <i class="fa fa-repeat grey-text"></i> Rotate back
                                </a>

                            </div>

                        </div>
                        <!--Back Side-->

                    </div>
                </div>
                <!--Rotating card-->

            </div>
            <!--Grid column-->           

        </div>

    </section>
    <!--Section: Team v.4-->

    <hr class="between-sections" />

    <!--Section-->
    <section class="section">
        <!--Section heading-->
        <h1 class="section-heading">Clothe Our Kids Foundation Board of Directors</h1>
        <!--Section description-->
        @*<p class="section-description">Clothe Our Kids of North Alabama Board Members</p>*@

        <p class="text-center">
            Laura Mayer <br />
            Brandi Breeden <br />
            Michael Breeden <br />
        </p>
    </section>
    <!--/Section-->
</div>


@section customScript
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#FBShare').click(function () {
                FB.ui({
                    method: 'share',
                    mobile_iframe: true,
                    href: 'https://www.givekidsclothes.com/Leadership',
                }, function (response) { });
            });
        });
    </script>
}
