<div class="container">

    <section class="section page-top-section wow fadeIn" data-wow-delay="0.2s">
        <div class="row">
            <div class="col-12">
                <h1 class="section-heading">What We Do</h1>
            </div>
            <div class="col-12">
                <p class="section-description"><i><strong>giving</strong> clothes, <strong>showing</strong> love, <strong>building</strong> confidence</i></p>
            </div>
            <div class="col-12" style="text-align:center;">
                <span>Share</span>
                <!--Facebook-->
                <a type="button" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"></i></a>

                <!--Twitter-->
                <a type="button" class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"></i></a>

                <!--Pinterest-->
                <a type="button" class="btn-floating btn-small btn-pin"><i class="fa fa-pinterest"></i></a>

                <!--Email-->
                <a type="button" class="btn-floating btn-small btn-email"><i class="fa fa-envelope"></i></a>
            </div>
        </div>
        
        

    </section>
    
    <hr class="between-sections">

    <!--Section: Our Mission-->
    <section class="section" id="OurMission">
        <h1 class="section-heading wow fadeIn" data-wow-delay="0.2s">Our Mission</h1>

        <p class="section-description wow fadein" data-wow-delay="0.4s">
            Clothe Our Kids of Morgan County is a nonprofit group who is giving clothes and shoes to children in need in Morgan County, Alabama.
            <br />
            We believe that every child deserves clothing that gives them <strong>confidence</strong> in who they are and who they can become.
            We also believe that giving clothes to kids not only meets one of their most basic needs but also gives them a glimpse of the <strong>love</strong> and <strong>compassion</strong> of Jesus.
        </p>
    </section>
    <!--/Section: Our Mission-->

    <hr class="between-sections">

    <!--Section: Our Process-->
    <section class="section feature-box">
        <!--Section heading-->
        <h1 class="section-heading wow fadeIn" data-wow-delay="0.2s">Our Process</h1>
        <!--Section description-->
        <p class="section-description lead wow fadeIn" data-wow-delay="0.2s">We have a simply process to get clothes into the hands of kids that need them</p>


        <!--First row-->
        <div class="row features-small wow fadeIn" data-wow-delay="0.4s">

            <!--First column-->
            <div class="col-md-5 mb-r center-on-small-only">                
                <img src="~/Content/img/ClotheOurKids/COKTrailer-12.jpg" class="img-fluid" />
            </div>
            <!--/First column-->

            <!--Second column-->
            <div class="col-md-7 center-on-small-only align-self-center">
                <!--First row-->
                <div class="row">
                    <div class="col-1">
                        <i class="fa fa-bank green-text"></i>
                    </div>
                    <div class="col-10">
                        <h4 class="feature-title">Collect</h4>
                        <p class="grey-text">We rely 100% on your clothing and financial donations to ensure we can clothe all of the kids who need our help.</p>
                    </div>
                </div>
                <!--/First row-->

                <div style="height:50px"></div>

                <!--Second row-->
                <div class="row">
                    <div class="col-1">
                        <i class="fa fa-code green-text"></i>
                    </div>
                    <div class="col-10">
                        <h4 class="feature-title">Sort</h4>
                        <p class="grey-text">We inspect all of the apparel that we collect and keep only the items that a child can wear with confidence.</p>
                    </div>
                </div>
                <!--/Second row-->

                <div style="height:50px"></div>

                <!--Third row-->
                <div class="row">
                    <div class="col-1">
                        <i class="fa fa-gift green-text"></i>
                    </div>
                    <div class="col-10">
                        <h4 class="feature-title">Give</h4>
                        <p class="grey-text">At the request of a school official or child advocate we give a bag of hand-picked and matched clothing to any child from infants to highschool seniors.</p>
                    </div>
                </div>
                <!--/Third row-->
            </div>
            <!--/Second column-->
        </div>
        <!--/First row-->
    </section>
    <!--/Section: Our Process-->

    <hr class="between-sections">

    <!--Section: Who We Help-->
    <section class="section">
        <!--Section heading-->
        <h1 class="section-heading wow fadeIn" data-wow-delay="0.2s">Who We Help</h1>
        <!--Section description-->
        <p class="section-description wow fadeIn" data-wow-delay="0.2s">
            Many of us take for granted the fact that we can give our kids clean clothes that fit well and are appropriate for school.
            We might be surprised to learn that children in our kids classes do not have this same luxury.  Kids can be without proper clothes for a number
            of reasons:
        </p>

        <!--First row-->
        <div class="row wow fadeInLeft" data-wow-delay="0.4s">
            <!--First column-->
            <div class="col-md-4 mb-r wow fadeIn" data-wow-delay="0.4s">
                <!--Card-->
                <div class="card card-cascade wider">
                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="~/Content/img/downloaded/Need_A_Miracle.jpg" class="img-fluid" />
                        <a href="#!">
                            <div class="mask waves-effect waves-light"></div>
                        </a>
                    </div>
                    <!--/Card image-->
                    
                    <!--Card content-->
                    <div class="card-block text-center striped">
                        <!--Title-->
                        <h4 class="card-title"><strong>Income</strong></h4>
                        <!--/Title-->

                        <br />

                        <ul>
                            <li>
                                <p><i class="fa fa-check green-text"></i> Poverty</p>
                            </li>
                            <li>
                                <p><i class="fa fa-check green-text"></i> Low Income</p>
                            </li>
                            <li>
                                <p><i class="fa fa-check green-text"></i> Job Loss</p>
                            </li>
                            <li>
                                <p><i class="fa fa-check green-text left"></i> Disability</p>
                            </li>
                            <li style="border-bottom: 0px;">
                                <p><i class="fa fa-check green-text left"></i> Death</p>
                            </li>
                        </ul>
                    </div>
                    <!--Card content-->
                </div>
                <!--/Card-->
            </div>
            <!--/First column-->

            <!--Second column-->
            <div class="col-md-4 mb-r wow fadeInLeft" data-wow-delay="0.4s">
                <!--Card-->
                <div class="card card-cascade wider">
                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="~/Content/img/downloaded/looking_for_a_friend.jpeg" class="img-fluid" />
                        <a href="#!">
                            <div class="mask waves-effect waves-light"></div>
                        </a>
                    </div>
                    <!--/Card image-->
                    <!--Card content-->
                    <div class="card-block text-center striped">
                        <!--Title-->
                        <h4 class="card-title"><strong>Absent Parents</strong></h4>
                        <!--/Title-->

                        <br />

                        <ul>
                            <li>
                                <p><i class="fa fa-check green-text"></i> Orphan</p>
                            </li>
                            <li>
                                <p><i class="fa fa-check green-text"></i> Foster Care</p>
                            </li>
                            <li style="border-bottom: 0px;">
                                <p><i class="fa fa-check green-text left"></i> Prison</p>
                            </li>
                        </ul>
                    </div>
                    <!--Card content-->
                </div>
                <!--/Card-->
            </div>
            <!--/Second column-->

            <!--Third column-->
            <div class="col-md-4 mb-r wow fadeInLeft" data-wow-delay="0.4s">
                <!--Card-->
                <div class="card card-cascade wider">
                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="~/Content/img/downloaded/firefighters.jpeg" class="img-fluid" />
                        <a href="#!">
                            <div class="mask waves-effect waves-light"></div>
                        </a>
                    </div>
                    <!--/Card image-->
                    <!--Card content-->
                    <div class="card-block text-center striped">
                        <!--Title-->
                        <h4 class="card-title"><strong>Disaster</strong></h4>
                        <!--/Title-->

                        <br />

                        <ul>
                            <li>
                                <p><i class="fa fa-check green-text"></i> Fire</p>
                            </li>
                            <li>
                                <p><i class="fa fa-check green-text"></i> Tornado</p>
                            </li>
                            <li style="border-bottom: 0px;">
                                <p><i class="fa fa-check green-text left"></i> Flood</p>
                            </li>
                        </ul>
                    </div>
                    <!--Card content-->
                </div>
                <!--/Card-->
            </div>
            <!--/Third column-->
        </div>
        <!--/First row-->

        <p class="section-description wow fadeIn" data-wow-delay="0.2s">
            We want to help kids in each of these situations by giving them clothes that fit well, are lightly used, and are appropriate for school.
            We rely on school officials to contact us on behalf of these children so that we can work through the school to protect the child's anonimity.
        </p>
    </section>
    <!--/Section: Who We Help-->

    <hr class="between-sections">

    <!--Section: How We Operate-->
    <section class="section">
        <h1 class="section-heading wow fadeIn" data-wow-delay="0.2s">How We Operate</h1>
        
        <h3 class="h3-responsive wow fadeIn" data-wow-delay="0.2s">Closed to Public</h3>
        <p class="section-description wow fadeIn" data-wow-delay="0.2s" style="text-align: left; margin-left: 0px; margin-right: 0px;">We are unique because we are <strong>closed</strong> to the <strong>public</strong>. We operate through local schools by requests from <strong>teachers, counselors, or principals</strong>.<p>

        <h3 class="h3-responsive wow fadeIn" data-wow-delay="0.2s">Discrete</h3>
        <p class="section-description wow fadeIn" data-wow-delay="0.2s" style="text-align: left; margin-left: 0px; margin-right: 0px;">
            We know that it is <strong>difficult</strong> for a parent to ask for clothes for their children.
            We believe that every request should be <strong>private</strong> between the school official and the parents.
            For this reason, Clothe Our Kids of Morgan County will <strong>never</strong> know the identity of the children we provide clothing for.
            The school sends us general information with each request which includes only the child's gender, sizes, and possibly demographic data.  We bag up the clothes and deliver the bag to the school official to <strong>discretely</strong> give to the child. The bags we use are plain and unmarked, so they will not draw attention to children as they receive the bag at school and take it home.
        </p>

        <h3 class="h3-responsive wow fadeIn" data-wow-delay="0.2s">Clothing with Confidence</h3>
        <p class="section-description wow fadeIn" data-wow-delay="0.2s" style="text-align: left; margin-left: 0px; margin-right: 0px;">We strive to give each child the best clothes we can so they can go to school feeling <strong>confident</strong>. To make this possible, we only give clothing that is in <strong>great</strong> condition - that means <strong>no stains or tears</strong>.</p>

    </section>
    <!--/Section: How We Operate-->

</div>