<div class="container-fluid"> 

    <section class="section page-top-section mb-4 wow fadeIn" data-wow-delay="0.2s">
        <div class="row">
            <div class="col-12">
                <h1 class="section-heading">What We Give</h1>
            </div>
            <div class="col-12">
                <p class="section-description"><i>clothes that provide <strong>confidence</strong></i></p>
            </div>
            <div class="col-12" style="text-align:center;">
                <span>Share</span>
                <!--Facebook-->
                <a id="FBShare" type="button" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"></i></a>

                <!--Twitter-->
                <a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fgivekidsclothes.com%2FWhat-We-Do&hashtags=givekidsclothes&text=Find%20out%20what%20we%20give%20to%20kids%20in%20need." 
                   type="button" class="btn-floating btn-small btn-tw">
                    <i class="fa fa-twitter"></i>
                </a>

                <!--Email-->
                <a type="button" class="btn-floating btn-small btn-email"><i class="fa fa-envelope"></i></a>

            </div>
        </div>
    </section>   

    <hr class="between-sections">

    <!--Section: Whats In A Bag-->
    <section class="section">

        <!--Section heading-->
        <h1 class="section-heading wow fadeIn" data-wow-delay="0.2s">What's In The Bag</h1>        
        <!--Section description-->
        <p class="section-description wow fadeIn" data-wow-delay="0.4s">
            We know that the children we help may have different clothing needs.
            Many children will be starting with <strong>nothing</strong> that fits them.
            Many will have <strong>nothing</strong> they feel confident wearing to school.
            Others may just need a coat, a pair of shoes, or some new underwear.
            Our goal is to <strong>meet the need</strong> of each kid we help,
            so we customize each bag we give based on the specific need of that child.
        </p>

        <!--First row-->
        <div class="row justify-content-center">

            <!--First column-->
            <div class="col-6 col-lg-3 col-sm-4 mb-r wow fadeInUp" data-wow-delay="0.2s">
                
                <!--Collection card-->
                <div class="card collection-card z-depth-1-half">
                    <!--Card image-->
                    <div class="view hm-white-light hm-zoom">
                        <img src="~/Content/img/shirt.jpg" class="img-fluid" alt="" />
                        <div class="mask">
                            <div class="stripe dark">
                                <a>
                                    <p>5+ Shirts</p>
                                </a>                               
                            </div>
                        </div>                        
                    </div>
                </div>
                <!--/Collection card-->
            </div>
            <!--/First column-->

            <!--Second column-->
            <div class="col-6 col-lg-3 col-sm-4 mb-r wow fadeInUp" data-wow-delay="0.2s">

                <!--Collection card-->
                <div class="card collection-card z-depth-1-half">
                    <!--Card image-->
                    <div class="view hm-black-strong hm-zoom">
                        <img src="~/Content/img/jeans.jpeg" class="img-fluid" alt="" />
                        <div class="mask">
                            <div class="stripe light">
                                <a>
                                    <p>5+ Pants/Shorts</p>
                                </a>                                
                            </div>
                        </div>
                        
                    </div>
                    <!--/Card image-->
                </div>
                <!--/Collection card-->
            </div>
            <!--/Second column-->

            <!--Third column-->
            <div class="col-6 col-lg-3 col-sm-4 mb-r wow fadeInUp" data-wow-delay="0.2s">

                <!--Collection card-->
                <div class="card collection-card z-depth-1-half">
                    <!--Card image-->
                    <div class="view hm-white-light hm-zoom">
                        <img src="~/Content/img/underwear.jpeg" class="img-fluid" alt="" />
                        <div class="mask">
                            <div class="stripe dark">
                                <a>
                                    <p>6+ Undies</p>
                                </a>                                
                            </div>
                        </div>                        
                    </div>
                    <!--/Card image-->
                </div>
                <!--/Collection card-->
            </div>
            <!--/Third column-->

            <!--Fourth column-->
            <div class="col-6 col-lg-3 col-sm-4 mb-r wow fadeInUp" data-wow-delay="0.2s">

                <!--Collection card-->
                <div class="card collection-card z-depth-1-half">
                    <!--Card image-->
                    <div class="view hm-black-light hm-zoom">
                        <img src="~/Content/img/socks.jpeg" class="img-fluid" alt="" />
                        <div class="mask">
                            <div class="stripe light">
                                <a>
                                    <p>6+ Socks</p>
                                </a>                                
                            </div>
                        </div>                        
                    </div>
                    <!--/Card image-->
                </div>
                <!--/Collection card-->
            </div>
            <!--/Fourth column-->

            <!--Fifth column-->
            <div class="col-6 col-lg-3 col-sm-4 mb-r wow fadeInUp" data-wow-delay="0.2s">

                <!--Collection card-->
                <div class="card collection-card z-depth-1-half">
                    <!--Card image-->
                    <div class="view hm-white-light hm-zoom">
                        <img src="~/Content/img/shoes.jpg" class="img-fluid" alt="" />
                        <div class="mask">
                            <div class="stripe dark">
                                <a>
                                    <p>1-2 Shoes</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--/Card image-->
                </div>
                <!--/Collection card-->
            </div>
            <!--/Fifth column-->

            <!--Sixth column-->
            <div class="col-6 col-lg-3 col-sm-4 mb-r wow fadeInUp" data-wow-delay="0.2s">

                <!--Collection card-->
                <div class="card collection-card z-depth-1-half">
                    <!--Card image-->
                    <div class="view hm-black-light hm-zoom">
                        <img src="~/Content/img/coat.jpg" class="img-fluid" alt="" />
                        <div class="mask">
                            <div class="stripe light">
                                <a>
                                    <p>Coat</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--/Card image-->
                </div>
                <!--/Collection card-->
            </div>
            <!--/Sixth column-->
        </div>
        <!--/First row-->

    </section>

    <hr class="between-sections">

    <!--Section: Where We Get The Clothes-->
    <section class="section">
        <h1 class="section-heading wow fadeIn" data-wow-delay="0.2s">Where We Get The Clothes</h1>

        <p class="section-description wow fadeIn" data-wow-delay="0.4s">
            We get them all from <strong>you</strong>! All of the items we give come from public donations or are purchased using the money <strong>you</strong> donate.
            We accept <strong>gently used</strong> clothing, shoes, pajamas, coats, hats, and gloves in all children and adult sizes
            (styled appropriately for teens). We also accept socks and underwear donations <strong>new</strong> in their package.
        </p>
    </section>

</div>


@section customScript
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#FBShare').click(function () {
                FB.ui({
                    method: 'share',
                    mobile_iframe: true,
                    href: 'https://localhost:44320//What-We-Give',
                }, function (response) { });
            });
        });
    </script>
}