<div class="container">

    <section class="section section-blog-fw">

        <div class="row">
            <div class="col-md-12 wow fadeIn" data-wow-delay="0.2s">

                <!--Featured Image-->
                <img src="~/Content/img/slide17.jpg" />

                <!--Page Description-->
                <div class="jumbotron wow fadeIn" data-wow-delay="0.4s">
                    <h1 class="h1-responsive">Who We Are</h1>
                    <p><strong>Giving</strong> Clothes, <strong>Showing</strong> Love, <strong>Building</strong> Confidence</p>
                </div>
            </div>
        </div>
    </section>

    <hr class="between-sections">

    <!--Section: Team v.1-->
    <section class="section team-section">

        <!--Section heading-->
        <h1 class="section-heading">Meet Our Board</h1>
        <!--Section description-->
        <p class="section-description">All the members of our Board of Directors are passionate about helping the kids in our area. They volunteer their time, wisdom, and talents to make sure we are successful.</p>

        <!--First row-->
        <div class="row text-center">

            <!--First column-->
            <div class="col-lg-3 col-md-6 mb-r">

                <div class="avatar">
                    <img src="~/Content/img/brandi.jpg" class="rounded-circle">
                </div>
                <h4>Brandi Breeden</h4>
                <h5>President / Co-Founder</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab.</p>

                <!--Facebook-->
                <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
            </div>
            <!--/First column-->
            <!--Second column-->
            <div class="col-lg-3 col-md-6 mb-r">

                <div class="avatar">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle">
                </div>
                <h4>John Doe</h4>
                <h5>Web Developer</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab.</p>

                <!--Linkedin-->
                <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
                <!--Facebook-->
                <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
                <!--GitHub-->
                <a class="icons-sm git-ic"><i class="fa fa-github"> </i></a>

            </div>
            <!--/Second column-->
            <!--Third column-->
            <div class="col-lg-3 col-md-6 mb-r">

                <div class="avatar">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(2).jpg" class="rounded-circle">
                </div>

                <h4>Maria Kate</h4>
                <h5>Photographer</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab.</p>

                <!--Facebook-->
                <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
                <!--Pinterest-->
                <a class="icons-sm pin-ic"><i class="fa fa-pinterest"> </i></a>
                <!--Instagram-->
                <a class="icons-sm ins-ic"><i class="fa fa-instagram"> </i></a>

            </div>
            <!--/Third column-->
            <!--Fourth column-->
            <div class="col-lg-3 col-md-6 mb-r">

                <div class="avatar">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(4).jpg" class="rounded-circle">
                </div>
                <h4>Sarah Melyah</h4>
                <h5>Front-end Developer</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab.</p>

                <!--Google +-->
                <a class="icons-sm gplus-ic"><i class="fa fa-google-plus"> </i></a>
                <!--Facebook-->
                <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
                <!--GitHub-->
                <a class="icons-sm git-ic"><i class="fa fa-github"> </i></a>

            </div>
            <!--/Fourth column-->

        </div>
        <!--/First row-->

    </section>
    <!--/Section: Team v.1-->


</div>