/*Setup for Navbar*/
header .logo {
    display: block;
    float: left;
    z-index: 100;
}

header .logo-container {
    display: block;
}

    header .logo-container img {
        width: 200px;
        height: 86px;
    }

header {
    box-shadow: 0 4px 4px -4px #898989;
}

.headerSpace {
    margin-top: 15px;
    margin-bottom: 15px;
}

.nav .nav-item {
    margin-left: 20px;
}

.navbar.navbar-light .nav-item.dropdown span {
    color: #212121;
    transition: .35s; }

.navbar.navbar-dark .navbar-nav .nav-item.dropdown span {
    color: #fff;
    transition: .35s; }

.navbar.navbar-dark .navbar-nav .nav-item span:hover {
      color: rgba(255, 255, 255, 0.75); }

ul.default {
    margin: 0;
    padding: 0;
}

header .column-one {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
}

header .column-two {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.header-cta-buttons {
    float: left;
    width: 100%;
    position: relative;
}

.header-cta-buttons a.btn-rounded {
    display: block;
    font-size: 16px;
    padding: 0;
    text-align: center;
    width:100%;
    margin-bottom: 0;
}

.header-cta-buttons > li {
    float: left;
    text-align: center;
    margin: 0;
    width: 33.333333%
}

.full-width-buttons .btn {
    margin:0;
}

#largeScreenIndicator {
    display: none;
}

/*.mm-navbar {
    display: none !important;
}*/

.mm-listview {
    font-size: 24px;
    line-height: 36px;
}

#mobileMenu .mm-highest .mm-navbar .mm-title {
    display: none;
}

#mobileMenu .mm-hasnavbar .mm-listview > li > a {
    margin-left: 20px;
}

#mobileMenu .mm-listview > li.top-level > a {
    background: #ccc;
    margin-left: 0;
}

.hideScroll {
    overflow: hidden !important;
}

@media (max-width: 992px) and (min-width: 768px) {
    .header-cta-buttons a.btn-rounded {
        font-size: 24px;
    }
}

@media(max-width:992px) and (min-width: 0) {
    .header-cta-buttons a.btn-rounded {
        border-radius: 0;
        height: 70px;
        line-height: 70px;
    }

    header .logo {
        position: absolute;
        margin-top: -20px;
    }

    #mMenuToggle {
        margin-top: -11px;
        position: absolute;
        right: -35px;
    }

    .navbar-toggler {
        margin-top: -11px;
        position: absolute;
        right: -35px;
        cursor: pointer;
    }

    .headerPad {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 0px;
        padding-right: 0px;
        height: 85px;
        width: 100%;
    }

    header {
        box-shadow: none;
    }

    header .column-one {
        float: left;
        width: 100%;
    }

    header .column-two {
        display: none;
    }

    .navbar-collapse {
        min-height: 910px;
        z-index: 1000;
        background-color: #ffffff;
        margin-top: 132px;
        margin-left: -30px;
        margin-right: -60px;
        padding-top: 20px;
    }

    #small-indicator {
        display: block;
    }
}

@media(min-width: 992px) {
      

}

@media (max-width: 1199px) and (min-width: 992px) {
    
    
    header .column-two {
        float: right;
    }

    .header-cta-buttons a.btn-rounded {
        border-radius: 0;
        height: 35px;
        line-height: 35px;
    }

    .headerPad {
        padding-top: 0px;
        padding-bottom: 0px;
        width: 100%;
    }

    .nav-item.btn-group:hover .dropdown-menu {
        display: block;
        margin-top: 0;
    }

}

@media (min-width: 1200px) {

    header .column-one {
        float: left;
        /*width: 71%;*/
    }

    header .column-two {
        padding-left: 0;
        float: left;
        min-width: 330px;
        /*width: 29%;*/
    }

    #desktopCta.header-cta-buttons {
        float: right;
        width: 95%;
        margin: 0;
    }

    #desktopCta.header-cta-buttons > li {
        margin-left: 3px;
        width: 32%;
    }

    #desktopCta.header-cta-buttons > li:nth-child(1) {
        margin-left: 0;
    }

    #desktopCta.header-cta-buttons a.btn-rounded {
        height: 32px;
        line-height: 32px;
        font-size: 13px;
        border-radius: 3px;
    }

    .headerPad {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
    }

    .nav-item.btn-group:hover .dropdown-menu {
        display: block;
        margin-top: 0;
    }

    #largeScreenIndicator {
        display: block;
    }
}


/*mMenu Styles*/
#mobileMenu {
    top:163px;
    background-color: #ffffff;
}

@media(min-width:993px) {
    #mm-mainSiteMenu {
        display: none !important;
    }

}