/*Setup for Navbar*/
header .logo {
    display: block;
    float: left;
    box-sizing: border-box;
    z-index: 100;
}

header .logo-container {
    display: block;
    width: 200px;
    height: 86px;
    background: url("../../Content/img/logo/MainLogo_color_scaled_noTagLine.png") left top no-repeat;
}

header {
    box-shadow: 0 4px 4px -4px #898989;
}

.nav .nav-item {
    margin-left: 15px;
    text-transform: uppercase;
    font-weight: 700;
}

.navbar-logo {
    height: 60px;
}

.navbar-logo-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin-top: 5px;
    margin-left: 10px;
}

.navbar-right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}

.navbar .btn {
    font-weight: 700;
}

.navbar-right .btn.bg-red:hover {
    background-color: transparent !important;
    border: 3px solid #ee4266 !important;
}

.navbar.scrolling-navbar {
    padding-top: 18px;
    padding-bottom: 18px;
    min-height: 74.5px;
}

.navbar.scrolling-navbar.top-nav-collapse {
    padding-top: 12px;
    padding-bottom: 12px;
    min-height: 62.5px;
}


ul.default {
    margin: 0;
    padding: 0;
}

.header-right {
    position: absolute;
    top: 0;
    right:0;
}


#largeScreenIndicator {
    display: none;
}

#mobileMenu:not(.mm-menu){
    display: none;
}

/*Set Text size and ling height of MMenu menu items*/
.mm-listview {
    font-size: 24px;
    line-height: 36px;
}

.hideNav {
    display: none;
}

#mm-1 .mm-listview li > a {
    margin-left: 20px;
}

#mobileMenu .mm-listview > li.top-level > a {
    background: #ccc;
    margin-left: 0;
}

#mobileMenu .mm-prev {
    color: rgba(0,0,0,.60);
}

#mobile-navBack {
    float: left;
    color: rgba(0,0,0,.60);
    font-size: 16px;
}

.hideScroll {
    overflow: hidden !important;
}

/*Ensure no space between header and top of first section*/
.hidden-sn main {
    padding-top: 48px;
}

@media(max-width:992px) and (min-width: 0) {


    /*header .logo {
        position: absolute;
        margin-top: -15px;
        margin-left: 5px;
    }*/

    /*#mMenuToggle {
        margin-top: -11px;
        margin-right: -35px;
    }*/

    /*header {
        box-shadow: none;
    }

    .navbar-collapse {
        min-height: 910px;
        z-index: 1000;
        background-color: #ffffff;
        margin-top: 132px;
        margin-left: -30px;
        margin-right: -60px;
        padding-top: 20px;
    }*/

    #small-indicator {
        display: block;
    }
}

@media(max-width:992px) and (min-width:600px) {
    .hidden-sn main {
        padding-top: 70px;
    }
}

@media (max-width: 993px) {
    .double-nav .breadcrumb-dn {
      display: block; } }

/*@media (min-width:992px) {
    .hidden-sn main {
        padding-top: 48px;
    }
}*/




@media (min-width: 1200px) {

    #largeScreenIndicator {
        display: block;
    }
}




/*mMenu Styles*/
.mmenu-top {
    top:5rem;
}

.mmenu-top-collapse {
    top:4.4rem;
}

/*Allow scrolling of main page with Mmenu open*/
.mm-wrapper_blocking {
    overflow: auto;
}

/*@media(min-width:993px) {
    #mm-mainSiteMenu {
        display: none !important;
    }

}*/



