.kids-skin {
  /* Select colors */ }
  .kids-skin .gradient {
    background: #ababab;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ababab 0%, #fff 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ababab 0%, #fff 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ababab 0%, #fff 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
  .kids-skin .primary-color, .kids-skin .stepper li.active a .circle, .stepper li.active a .kids-skin .circle, .kids-skin .stepper li.completed a .circle, .stepper li.completed a .kids-skin .circle {
    background-color: #4285F4 !important; }
    .kids-skin .navbar .navbar-nav .nav-item .dropdown-menu a:hover, .white-skin .navbar .navbar-nav .nav-item .dropdown-menu a:focus, .white-skin .navbar .navbar-nav .nav-item .dropdown-menu a:active {
      background-color: #f44336;
      color: rgba(255, 255, 255, 0.75);
    }
  .kids-skin .double-nav a {
    color: rgba(255, 255, 255, .75); }
  .kids-skin .side-nav {
    background-color: #F9F9F9; }
    .kids-skin .side-nav .logo-wrapper > div {
      background-color: transparent !important; }
    .kids-skin .side-nav .sn-avatar-wrapper img {
      border: 3px solid #0d5bdd; }
    .kids-skin .side-nav .social a:hover .fa {
      color: #4285F4;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      transition: all 0.3s linear; }
    .kids-skin .side-nav .search-form input[type="text"].form-control {
      border-bottom: 1px solid rgba(153, 153, 153, 0.298039);
      color: #424242; }
      .kids-skin .side-nav .search-form input[type="text"].form-control::-webkit-input-placeholder {
        color: rgba(66, 66, 66, 0.5) !important; }
      .kids-skin .side-nav .search-form input[type="text"].form-control:-moz-placeholder {
        color: rgba(66, 66, 66, 0.5) !important; }
      .kids-skin .side-nav .search-form input[type="text"].form-control::-moz-placeholder {
        color: rgba(66, 66, 66, 0.5) !important; }
      .kids-skin .side-nav .search-form input[type="text"].form-control::-ms-placeholder {
        color: rgba(66, 66, 66, 0.5) !important; }
      .kids-skin .side-nav .search-form input[type="text"].form-control::-webkit-input-placeholder {
        color: rgba(66, 66, 66, 0.5) !important; }
      .kids-skin .side-nav .search-form input[type="text"].form-control::-moz-placeholder {
        color: rgba(66, 66, 66, 0.5) !important; }
      .kids-skin .side-nav .search-form input[type="text"].form-control:-ms-input-placeholder {
        color: rgba(66, 66, 66, 0.5) !important; }
      .kids-skin .side-nav .search-form input[type="text"].form-control::placeholder {
        color: rgba(66, 66, 66, 0.5) !important; }
    .kids-skin .side-nav .collapsible li {
      background-color: transparent; }
      .kids-skin .side-nav .collapsible li a {
        font-weight: 400;
        color: rgba(255, 255, 255, .75);
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        transition: all 0.3s linear; }
        .kids-skin .side-nav .collapsible li a:hover {
          background-color: rgba(0, 0, 0, 0.05); }
        .kids-skin .side-nav .collapsible li a.active {
          font-weight: 500;
          color: #4285F4; }
          .kids-skin .side-nav .collapsible li a.active .fa {
            color: #4285F4;
            -webkit-transition: color 0.3s linear;
            -moz-transition: color 0.3s linear;
            -o-transition: color 0.3s linear;
            -ms-transition: color 0.3s linear;
            transition: color 0.3s linear; }
    .kids-skin .side-nav .fa {
      color: rgba(255, 255, 255, .75);
      -webkit-transition: color 0.3s linear;
      -moz-transition: color 0.3s linear;
      -o-transition: color 0.3s linear;
      -ms-transition: color 0.3s linear;
      transition: color 0.3s linear; }
    .kids-skin .side-nav .sidenav-bg:after, .kids-skin .side-nav .sidenav-bg.mask-strong:after {
      background: rgba(255, 255, 255, 0.9); }
    .kids-skin .side-nav .sidenav-bg.mask-light:after {
      background: rgba(255, 255, 255, 0.65); }
    .kids-skin .side-nav .sidenav-bg.mask-slight:after {
      background: rgba(255, 255, 255, 0.5); }
  .kids-skin .navbar .navbar-nav .dropdown .dropdown-primary .dropdown-item:hover {
    background-color: #2a75f3; }
  .kids-skin .btn-primary {
    background: #4285F4; }
    .kids-skin .btn-primary:hover, .kids-skin .btn-primary:focus {
      background-color: #5a95f5 !important; }
    .kids-skin .btn-primary.active {
      background-color: #0b51c5 !important; }
  .kids-skin .btn-secondary {
    background: #D25048; }
    .kids-skin .btn-secondary:hover, .kids-skin .btn-secondary:focus {
      background-color: #d7645c !important; }
    .kids-skin .btn-secondary.active {
      background-color: #902a24 !important; }
  .kids-skin .btn-default,
  .kids-skin .card .btn-action {
    background: #0F0F0F; }
    .kids-skin .btn-default:hover, .kids-skin .btn-default:focus,
    .kids-skin .card .btn-action:hover,
    .kids-skin .card .btn-action:focus {
      background-color: #1c1c1c !important; }
    .kids-skin .btn-default.active,
    .kids-skin .card .btn-action.active {
      background-color: black !important; }
  .kids-skin input[type="email"]:focus:not([readonly]),
  .kids-skin input[type="text"]:focus:not([readonly]),
  .kids-skin input[type="password"]:focus:not([readonly]),
  .kids-skin textarea.md-textarea:focus:not([readonly]) {
    border-color: #4285F4;
    box-shadow: 0 1px 0 0 #4285F4; }
    .kids-skin input[type="email"]:focus:not([readonly]) + label,
    .kids-skin input[type="text"]:focus:not([readonly]) + label,
    .kids-skin input[type="password"]:focus:not([readonly]) + label,
    .kids-skin textarea.md-textarea:focus:not([readonly]) + label {
      color: #4285F4; }
  .kids-skin input[type=checkbox]:checked + label:before {
    border-right: 2px solid #4285F4;
    border-bottom: 2px solid #4285F4; }
  .kids-skin input[type=checkbox].filled-in:checked + label:before {
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff; }
  .kids-skin input[type=checkbox].filled-in:checked + label:after {
    background-color: #4285F4;
    border-color: #4285F4; }
  .kids-skin .md-form .prefix.active {
    color: #4285F4; }
  .kids-skin .dropdown-content li:not(.disabled) span {
    color: #4285F4; }
  .kids-skin .top-nav-collapse {
    background-color: #fff; }
  .kids-skin .carousel-multi-item .controls-top > a,
  .kids-skin .carousel-multi-item .carousel-indicators li,
  .kids-skin .carousel-multi-item .carousel-indicators li.active {
    background-color: #4285F4; }
  .kids-skin .form-header,
  .kids-skin .card-header {
    background-color: #4c8bf5; }
  .kids-skin .spinner-primary {
    border-color: #4285F4; }
  .kids-skin .spinner-primary-color,
  .kids-skin .spinner-primary-color-only {
    border-color: #4285F4; }
  .kids-skin .pagination-primary-color .page-item.active .page-link,
  .kids-skin .pagination-primary-color .page-item.active .page-link:focus,
  .kids-skin .pagination-primary-color .page-item.active .page-link:hover {
    color: #fff;
    background-color: #4285F4;
    border-color: #4285F4; }
  .kids-skin .pagination-primary-color .page-link {
    color: #4285F4; }
  .kids-skin .streak.streak-lg {
      margin-right: 0;
      margin-left: 0;
  }



    /*main green color*/
    .kids-skin .bg-green {
        background-color: #41BEB3 !important;
        color: #fff;
    }

    /*main red color*/
    .kids-skin .bg-red {
        background-color: #ee4266 !important;
        color: #fff !important;
    }

    /*Main purple color*/
    .kids-skin .bg-purple {
        background-color: #540d6e !important;
        color: #fff;
    }

    /*main yellow color*/
    .kids-skin .bg-yellow {
        background-color: #ffd23f !important;
        color: #fff;
    }

