.striped li {
      border-bottom: 1px solid rgba(153, 153, 153, 0.298039);
      margin-bottom: 1rem; }

 .md-form .prefix ~ .select-wrapper {
    margin-left: 3rem;
    width: 92%;
    width: calc(100% - 3rem); }
  @media only screen and (max-width: 992px) {
    .md-form .prefix ~ .select-wrapper {
      width: 86%;
      width: calc(100% - 3rem); } }
  @media only screen and (max-width: 600px) {
    .md-form .prefix ~ .select-wrapper {
      width: 80%;
      width: calc(100% - 3rem); } }



  .dropdown-main .dropdown-content li.active {
  background-color: #aa66cc; }

.dropdown-main .dropdown-content li a:hover,
.dropdown-main .dropdown-content li span:hover {
  background-color: #aa66cc; }


.page-top-section .section-heading {
    font-family: 'Love Ya Like A Sister', cursive;
    margin: 0;
}

.page-top-section .section-description {
    margin-bottom: 1rem;
}

.page-top-section .btn-floating {
    margin:0;
}

.page-top-section span {
    margin-right: 10px;
    margin-top: 10px;
    text-transform: uppercase;
}


.streak.streak-lg {
    max-height: 500px;
    margin-left: -15px;
    margin-right: -20px;
}

.modal-backdrop {
    z-index: 4001;
}

.modal {
    z-index: 4050;
}


@media only screen and (max-width: 768px) {
    .page-top-section .section-heading {
        font-size: 350%;
    }

    .streak.streak-lg {
        height: 250px;
    }
}

@media only screen and (min-width: 768px) {
    .page-top-section .section-heading {
        font-size: 400%;
    }

    .streak.streak-lg {
        height: 350px;
    }

}

@media only screen and (min-width: 992px) {
    .page-top-section .section-heading {
        font-size: 450%;
    }

    .streak.streak-lg {
        height: 400px;
    }
}

@media only screen and (min-width: 1200px) {
    .page-top-section .section-heading {
        font-size: 500%;
    }

    .streak.streak-lg {
        height: 500px;
    }
}



.section.full-img {
    margin-right: -15px;
    margin-left: -15px;
    max-height: 500px;
}

.full-img .streak-img {
    position: relative;
    z-index: 0;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    object-fit: cover;
    object-position: 50% 50%;
    font-family: "object-fit: cover; object-position: 50% 50%";
    width: 100%;
    height: auto;
    max-height: 500px;
    background-attachment: fixed;
}















