<!--=== Interactive Slider ===-->
<div class="breadcrumbs-v3 breadcrumbs-lg img-cooperative text-center">
    <div class="container">
        <h1 class="text-white">Thank You!</h1>
        <h2 class="promo-text-v2 animated color-light fadeInUp wow margin-bottom-20" data-wow-duration="2s" data-wow-delay="1s">Your donation help us make sure every child in Morgan County has the clothes they need</h2>
    </div>
</div>
<!--=== End Interactive Slider ===-->



@section customScript
{
    jQuery(document).ready(function() {
    App.init();
    new WOW().init();
    App.initParallaxBg();

    });
}
