<div class="container">

    <section class="section section-blog-fw">

        <div class="row">
            <div class="col-md-12 wow fadeIn" data-wow-delay="0.2s">

                <!--Featured Image-->
                <img src="~/Content/img/slide17.jpg" />

                <!--Page Description-->
                <div class="jumbotron wow fadeIn" data-wow-delay="0.4s">
                    <h1 class="h1-responsive">Get Involved</h1>
                    <p><strong>Giving</strong> Clothes, <strong>Showing</strong> Love, <strong>Building</strong> Confidence</p>

                    <p>Learn how you can join us and change the lives of kids in Morgan County</p>
                </div>
            </div>
        </div>
    </section>

    <hr class="between-sections">

    <!--Section: How You Can Help-->
    <section class="section text-center wow fadeIn" data-wow-delay="0.6s">
        
        <!--Section heading-->
        <h1 class="section-heading">How You Can Help</h1>
        <!--Section description-->
        <p class="section-description">
            Without the community's help, Clothe Our Kids of Morgan County would not exist.
            <br />
            We use all of the funds and other donations that we receive to make sure that kids get the clothes they need as quickly as possible.
        </p>

        <!--First row-->
        <div class="row">

            <!--First column-->
            <div class="col-md-6 mb-r">

                <!--Image-->
                <div class="view overlay hm-white-slight z-depth-2">
                    <img src="~/Content/img/TennesseeCOK/take action.jpg" />
                    <a>
                        <div class="mask waves-effect waves-light"></div>
                    </a>
                </div>
                <!--/Image-->

                <!--Excerpt-->
                <div class="card-block">
                    <h3 class="h3-responsive">Give Clothes</h3>
                    <p>
                        We always need more clothes!
                        <br />
                        100% of the clothes we give out come from donations from the community and we are always needing more. Please visit the <a href="@Url.RouteUrl("WhatWeGive")">What We Give</a> page to view the clothing items that we accept as donations.
                    </p>
                </div>
                <!--/Excerpt-->
            </div>
            <!--/First column-->

            <!--Second column-->
            <div class="col-md-6 mb-r">
                <!--Image-->
                <div class="view overlay hm-white-slight z-depth-2">
                    <img src="~/Content/img/TennesseeCOK/HostADrive.jpg" />
                    <a>
                        <div class="mask waves-effect waves-light"></div>
                    </a>
                </div>
                <!--/Image-->
                <!--Excerpt-->
                <div class="card-block">
                    <h3 class="h3-responsive">Host A Drive</h3>
                    <p>
                        We do everything we can to reach out to the community to get the word out about Clothe Our Kids of Morgan County, but we need you to help us reach the people that you know!
                        One of the best ways that you can help us is to sponsor a sock and/or underwear drive.
                        We only give out new socks and underwear, so these items are always in need.  If you would like help setting this up or ideas that would work well with your group, feel free to contact us at 256-887-KIDS(5437) or <a href="mailto:info@givekidsclothes.com">info@givekidsclothes.com</a>
                    </p>
                </div>
                <!--/Excerpt-->
            </div>
            <!--/Second column-->

            <!--Third column-->
            <div class="col-md-6 mb-r">
                <!--Image-->
                <div class="view overlay hm-white-slight z-depth-2">
                    <img src="~/Content/img/TennesseeCOK/FAQ.jpg" />
                    <a>
                        <div class="mask waves-effect waves-light"></div>
                    </a>
                </div>
                <!--/Image-->
                <!--Excerpt-->
                <div class="card-block">
                    <h3 class="h3-responsive">Volunteer</h3>
                    <p>
                        We need volunteers every week. We are looking for people who want to get involved by helping us sort, store, pack, and deliver clothes.
                        <br />
                        <br />
                        While we are asking the Lord to provide us with a team of dedicated and consistent volunteers who
                        can help us give clothes to kids week after week, we always love to have those who are looking for a short term project or even a single day of ministering to us and to kids in need.
                        <br />
                        <br />
                        Just give us a call if you are looking to get involved so that we can set up time for you to help!
                    </p>
                </div>
                <!--/Excerpt-->
            </div>
            <!--/Third column-->

            <!--Fourth column-->
            <div class="col-md-6 mb-r">
                <!--Image-->
                <div class="view overlay hm-white-slight z-depth-2">
                    <img src="~/Content/img/TennesseeCOK/Donate.jpg" />
                    <a>
                        <div class="mask waves-effect waves-light"></div>
                    </a>
                </div>
                <!--/Image-->
                <!--Excerpt-->
                <div class="card-block">
                    <h3 class="h3-responsive">Donate</h3>
                    <p>
                        Just like every other ministry or non-profit, it takes money for us to operate. Because we have no paid employees and no rent, 100% of the money that is donated goes directly to ensuring kids get the clothes they need. Visit our <a href="@Url.RouteUrl("Donate")">Donations</a> page to learn more about
                        how our funds are spent and to give us your support.
                    </p>
                </div>
                <!--/Excerpt-->
            </div>
            <!--/Fourth column-->

        </div>
        <!--/First row-->
    </section>

</div>
