<div class="container">

    <section class="section page-top-section mb-4 wow fadeIn" data-wow-delay="0.2s">
        <div class="row">
            <div class="col-12">
                <h1 class="section-heading">Get Involved</h1>
            </div>
            <div class="col-12">
                <p class="section-description"><i>help us fulfill our mission</i></p>
            </div>
            <div class="col-12" style="text-align:center;">
                <span>Share</span>
                <!--Facebook-->
                <a id="FBShare" type="button" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"></i></a>

                <!--Twitter-->
                <a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fgivekidsclothes.com%2FGet-Involved&hashtags=givekidsclothes&text=Help%20us%20fulfill%20our%20mission."
                   type="button" class="btn-floating btn-small btn-tw">
                    <i class="fa fa-twitter"></i>
                </a>

            </div>
        </div>
    </section>  

    <hr class="between-sections">

    <!--Section: How You Can Help-->
    <section class="section extra-margins">
        
        <!--Section heading-->
        <h1 class="section-heading wow fadeIn"  data-wow-delay="0.2s">Make A Difference</h1>
        <!--Section description-->
        <p class="section-description wow fadeIn"  data-wow-delay="0.4s">
            Without the support of the community, Clothe Our Kids of North Alabama would not exist.
            <br />
            We use all funds and other donations that we receive to make sure that kids get the clothing and hygiene products they need as quickly as possible. 
            <br />
            <br />
            There are several ways you can get involved!
        </p>

        <!--First row-->
        <div class="row d-flex">

            <!--First column-->
            <div class="col-md-5 d-flex align-self-center mb-r wow fadeInLeft" data-wow-delay="0.2s">
                <!--Featured image-->
                <div class="view overlay hm-white-slight">
                    <img class="img-responsive" src="~/Content/img/ClotheOurKids/COKJULY-3.jpg">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
            </div>
            <!--/First column-->

            <!--Second column-->
            <div class="col-md-7 d-flex align-self-center mb-r wow fadeInRight" data-wow-delay="0.2s">
                <!--Excerpt-->
                <div>
                    <h4>Donate Items</h4>
                    <p>
                        We rely on the clothing and shoe donations from our community.
                        We accept sizes 4t-Adult (we only ask that adult clothing be appropriate for teenagers).
                        We also love getting new packs of socks and underwear as well as products for our hygiene Kits.
                    </p>
                </div>
                
            </div>
            <!--/Second column-->
        </div>
        <!--/First row-->

        <!--Second row-->
        <div class="row">

            <!--First column-->
            <div class="col-md-7 flex-last flex-md-first d-flex align-self-center mb-r wow fadeInLeft" data-wow-delay="0.3s">
                <!--Excerpt-->
                <div>
                    <h4>Host A Drive</h4>
                    <p>
                        Want to get a group involved?
                        Hosting a drive is a great way!
                        You can pick a specific need to collect for (socks, undies, shoes, etc.) and get your group involved in providing for children through clothe our kids!
                        If you would like help setting this up or ideas that would work well with your group, feel free to contact us at 256-887-KIDS(5437) or info@givekidsclothes.com
                    </p>
                </div>                
            </div>
            <!--/First column-->
            <!--Second column-->
            <div class="col-md-5 flex-first flex-md-last d-flex align-self-center mb-r wow fadeInRight" data-wow-delay="0.3s">
                <!--Featured image-->
                <div class="view overlay hm-white-slight">
                    <img class="img-responsive" src="~/Content/img/ClotheOurKids/COKTrailer-17.jpg">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
            </div>
            <!--/Second column-->

        </div>
        <!--/Second row-->

        <!--Third row-->
        <div class="row">

            <!--First column-->
            <div class="col-md-5 align-self-center mb-r wow fadeInLeft" data-wow-delay="0.4s">
                <!--Featured image-->
                <div class="view overlay hm-white-slight">
                    <img src="~/Content/img/ClotheOurKids/COKJULY-10.jpg">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
            </div>
            <!--/First column-->
            <!--Second column-->
            <div class="col-md-7 align-self-center mb-r wow fadeInRight" data-wow-delay="0.4s">
                <!--Excerpt-->
                <div>
                    <h4>Volunteer</h4>
                    <p>
                        We need volunteers every week. If you can sort clothes, pack bags, deliver to schools, or pick up donations we need your help!
                    </p>
                </div>
                
            </div>
            <!--/Second column-->

        </div>
        <!--/Third row-->

        <!--Fourth row-->
        <div class="row">

            <!--First column-->
            <div class="col-md-7 flex-last flex-md-first align-self-center mb-r wow fadeInLeft" data-wow-delay="0.3s">
                <!--Excerpt-->
                <div>
                    <h4>Give</h4>
                    <p>
                        Just like every other ministry or non-profit, it takes money for us to operate.
                        If you would like to give you can make financial contributions by clicking <a  href="@Url.RouteUrl("Give")">here</a>,
                        or by sending them to P.O. Box 565, Somerville, AL 35670.
                    </p>
                </div>
                
            </div>
            <!--/First column-->
            <!--Second column-->
            <div class="col-md-5 flex-first flex-md-last align-self-center mb-r wow fadeInRight" data-wow-delay="0.3s">
                <!--Featured image-->
                <div class="view overlay hm-white-slight">
                    <img src="~/Content/img/ClotheOurKids/Love_Shirt.jpg">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
            </div>
            <!--/Second column-->

        </div>
        <!--/Fourth row-->

        <!--Third row-->
        <div class="row">

            <!--First column-->
            <div class="col-md-5 align-self-center mb-r wow fadeInLeft" data-wow-delay="0.4s">
                <!--Featured image-->
                <div class="view overlay hm-white-slight">
                    <img src="~/Content/img/ClotheOurKids/You_Are_Loved_Concrete.jpg">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
            </div>
            <!--/First column-->
            <!--Second column-->
            <div class="col-md-7 align-self-center mb-r wow fadeInRight" data-wow-delay="0.4s">
                <!--Excerpt-->
                <div>
                    <h4>Become A Sponsor</h4>
                    <p>
                        If your business would like to become a sponsor of Clothe Our Kids of North Alabama please send us an e-mail at <a href="mailto:sponsor@givekidsclothes.com">sponsor@givekidsclothes.com</a> for more information.
                    </p>
                </div>                
            </div>
            <!--/Second column-->

        </div>
        <!--/Third row-->



    </section>




</div>


@section customScript
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#FBShare').click(function () {
                FB.ui({
                    method: 'share',
                    mobile_iframe: true,
                    href: 'https://localhost:44320//What-We-Give',
                }, function (response) { });
            });
        });
    </script>
}