<div class="container">

    <section class="section page-top-section mb-5 wow fadeIn" data-wow-delay="0.2s">
        <div class="row">
            <div class="col-12">
                <h1 class="section-heading mb-2">Give</h1>
            </div>
            <div class="col-12">
                <p class="section-description mb-2"><i>give what you can: time, money, clothes</i></p>
            </div>
            <div class="col-12" style="text-align:center;">
                <span class="mt-1">Share</span>
                <!--Facebook-->
                <a id="FBShare" type="button" class="ml-2 btn-floating btn-sm btn-fb"><i class="fa fa-facebook"></i></a>

                <!--Twitter-->
                <a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fgivekidsclothes.com%2FGive&hashtags=givekidsclothes&text=Support%20Clothe%20Our%20Kids%20of%20North%20Alabama%21"
                   type="button" class="ml-1 btn-floating btn-sm btn-tw">
                    <i class="fa fa-twitter"></i>
                </a>
            </div>
        </div>
    </section>
</div>

<div class="streak bg-red white-text">
    <div class="flex-center">
        <ul class="list-unstyled">
            <li><h2 class="h2-responsive wow fadeIn"><i class="fa fa-quote-left" aria-hidden="true"></i> You can give without loving, but you cannot love without giving. <i class="fa fa-quote-right" aria-hidden="true"></i></h2></li>
            <li><h5 class="text-center font-italic wow fadeIn" data-wow-delay="0.2s">~ Amy Carmichael</h5></li>
        </ul>
    </div>
</div>

<div class="container">
    <!--Section: Donate Funds-->
    <section class="section mt-4" id="funds">
        <h1 class="section-heading wow fadeIn" data-wow-delay="0.2s">Give Funds</h1>

        <p class="section-description wow fadein" data-wow-delay="0.4s">
            Your financial donations are needed to ensure we can continue clothing the children in need in our communities.
            <br />
            <a href="http://www.lifewayegiving.org/dl/?uid=ClotP.O.210" class="btn btn-sm bg-green btn-rounded mt-1">Donate Now</a>
        </p>

    </section>
    <!--/Section: Donate Funds-->

    <hr class="between-sections">

    <!--Section: Give Clothes-->
    <section class="section" id="giveClothes">
        <h1 class="section-heading wow fadeIn" data-wow-delay="0.2s">Give Clothes</h1>

        <p class="section-description wow fadein" data-wow-delay="0.4s">
            We rely on the clothing and shoe donations from our community. We accept sizes 4T-Adult (we only ask that adult clothing be appropriate for teenagers). 
            We also love getting new packs of socks and underwear as well as products for our hygiene Kits. 
        </p>

        
    </section>
</div>



@section customScript
{
    <script type="text/javascript">
            $(document).ready(function () {
                $('#FBShare').click(function () {
                    FB.ui({
                        method: 'share',
                        mobile_iframe: true,
                        href: 'https://www.givekidsclothes.com/Give',
                    }, function (response) { });
                });
            });
    </script>

    <script type="text/javascript">
        function initMap() {

            var center_location = new google.maps.LatLng(34.528204, -86.898599);

            var locations = [
                ['Brewer High School', 34.415315, -86.705246, '59 Eva Rd, Somerville, AL 35670', '256-778-8634', 'http://www.apbrewer.com'],
                ['Westmeade Baptist Church', 34.579505, -87.017720, '2030 Beltline Road SW, Decatur, Alabama 35603', '256-353-8239', 'https://www.westmeadebaptist.org']
            ];

            var map = new google.maps.Map(document.getElementById("map"), {
                zoom: 10,
                center: center_location
            });

            var infowindow = new google.maps.InfoWindow();


            var marker, i;

            for (i = 0; i < locations.length; i++) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                    map: map,
                    title: locations[i][0]
                });

                google.maps.event.addListener(marker, 'click', (function (marker, i) {
                    return function () {
                        var contentString = '<div id="content">' +
                            '<h3 class="h3-responsive">' + locations[i][0] + '</h3>' +
                            '<p>' + locations[i][3] +
                            '<br>' + locations[i][4] +
                            '<br> <a href="' + locations[i][5] + '">' + locations[i][5] +
                            '</div>';
                        infowindow.setContent(contentString);
                        infowindow.open(map, marker);
                    }
                })(marker, i));
        }
    </script>
}
