<div class="container">
    <section class="section page-top-section mb-4 wow fadeIn" data-wow-delay="0.2s">
        <div class="row">
            <div class="col-12">
                <h1 class="section-heading mb-2">Our Work</h1>
            </div>
            <div class="col-12">
                <p class="section-description mb-2"><i><strong>Giving</strong> clothes. <strong>Showing</strong> love. <strong>Building</strong> confidence.</i></p>
            </div>
            <div class="col-12 flex-center">
                <span>Share</span>
                <!--Facebook-->
                <a id="FBShare" type="button" class="ml-3 btn-floating btn-sm btn-fb"><i class="fa fa-facebook"></i></a>

                <!--Twitter-->
                <a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fgivekidsclothes.com%2FOur-Work&hashtags=givekidsclothes&text=Learn%20what%20we%20do."
                   type="button" class="ml-0 btn-floating btn-sm btn-tw">
                    <i class="fa fa-twitter"></i>
                </a>
            </div>
        </div>
    </section>
</div>

<div class="streak streak-lg streak-photo" style="background-image:url('../../Content/img/ClotheOurKids/COKJULY-19.jpg');">       
</div>

<div class="container">
    <!--Section: Our Process-->
    <section class="section mt-4">
        <!--Section heading-->
        <h1 class="section-heading wow fadeIn" data-wow-delay="0.2s">Our Process</h1>
        <!--Section description-->
        <p class="section-description lead wow fadeIn" data-wow-delay="0.2s">We have a simple process to get clothing and hygiene items into the hands of kids who need them</p>

        <div class="row mb-1 text-center">
            <div class="col bg-red white-text mr-2">
                <h4 class="mt-5">Collect</h4>
                <p class="white-text mb-5">We rely 100% on your clothing and financial donations to ensure we can provide for all of the kids who need our help.</p>
            </div>
            <div class="col bg-light-blue">
                <h4 class="mt-5">Sort</h4>
                <p class="white-text mb-5">
                    We inspect all of the apparel that we collect for stains, holes, or excessive wear and keep only the items that a child can wear with confidence.
                </p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col bg-light-green mr-2">
                <h4 class="white-text mt-5">Pack</h4>
                <p class="white-text mb-5">At the request of a school official or child advocate pack a bag of hand-picked clothing and necessary hygiene items.</p>
            </div>
            <div class="col bg-yellow">
                <h4 class="white-text mt-5">Deliver</h4>
                <p class="white-text mb-5">We deliver each bag to the school or organization to be given to the child in need.</p>
            </div>
        </div>
    </section>
    <!--/Section: Our Process-->

    <hr class="between-sections">

    <!--Section: Whats In A Bag-->
    <section class="section">

        <!--Section heading-->
        <h1 class="section-heading wow fadeIn" data-wow-delay="0.2s">What's In The Bag</h1>
        <!--Section description-->
        <p class="section-description wow fadeIn" data-wow-delay="0.4s">
            We know that the children we help may have different clothing needs.
            Many children will be starting with <strong>nothing</strong> that fits them.
            Many will have <strong>nothing</strong> they feel confident wearing to school.
            Others may just need a coat, a pair of shoes, or just hygiene items.
            Our goal is to <strong>meet the need</strong> of each kid we help,
            so we customize each bag we give based on the specific need of that child.
        </p>

        <!--First row-->
        <div class="row justify-content-center">

            <!--First column-->
            <div class="col-6 col-lg-3 col-sm-4 mb-r wow fadeInUp" data-wow-delay="0.2s">

                <!--Collection card-->
                <div class="card collection-card z-depth-1-half">
                    <!--Card image-->
                    <div class="view hm-white-light hm-zoom">
                        <img src="~/Content/img/shirt.jpg" class="img-fluid" alt="" />
                        <div class="mask">
                            <div class="stripe dark">
                                <a>
                                    <p>5+ Shirts</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/Collection card-->
            </div>
            <!--/First column-->
            <!--Second column-->
            <div class="col-6 col-lg-3 col-sm-4 mb-r wow fadeInUp" data-wow-delay="0.2s">

                <!--Collection card-->
                <div class="card collection-card z-depth-1-half">
                    <!--Card image-->
                    <div class="view hm-black-strong hm-zoom">
                        <img src="~/Content/img/jeans.jpeg" class="img-fluid" alt="" />
                        <div class="mask">
                            <div class="stripe light">
                                <a>
                                    <p>5+ Pants/Shorts</p>
                                </a>
                            </div>
                        </div>

                    </div>
                    <!--/Card image-->
                </div>
                <!--/Collection card-->
            </div>
            <!--/Second column-->
            <!--Third column-->
            <div class="col-6 col-lg-3 col-sm-4 mb-r wow fadeInUp" data-wow-delay="0.2s">

                <!--Collection card-->
                <div class="card collection-card z-depth-1-half">
                    <!--Card image-->
                    <div class="view hm-white-light hm-zoom">
                        <img src="~/Content/img/underwear.jpeg" class="img-fluid" alt="" />
                        <div class="mask">
                            <div class="stripe dark">
                                <a>
                                    <p>6+ Undies</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--/Card image-->
                </div>
                <!--/Collection card-->
            </div>
            <!--/Third column-->
            <!--Fourth column-->
            <div class="col-6 col-lg-3 col-sm-4 mb-r wow fadeInUp" data-wow-delay="0.2s">

                <!--Collection card-->
                <div class="card collection-card z-depth-1-half">
                    <!--Card image-->
                    <div class="view hm-black-light hm-zoom">
                        <img src="~/Content/img/socks.jpeg" class="img-fluid" alt="" />
                        <div class="mask">
                            <div class="stripe light">
                                <a>
                                    <p>6+ Socks</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--/Card image-->
                </div>
                <!--/Collection card-->
            </div>
            <!--/Fourth column-->
            <!--Fifth column-->
            <div class="col-6 col-lg-3 col-sm-4 mb-r wow fadeInUp" data-wow-delay="0.2s">

                <!--Collection card-->
                <div class="card collection-card z-depth-1-half">
                    <!--Card image-->
                    <div class="view hm-white-light hm-zoom">
                        <img src="~/Content/img/shoes.jpg" class="img-fluid" alt="" />
                        <div class="mask">
                            <div class="stripe dark">
                                <a>
                                    <p>1-2 Shoes</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--/Card image-->
                </div>
                <!--/Collection card-->
            </div>
            <!--/Fifth column-->
            <!--Sixth column-->
            <div class="col-6 col-lg-3 col-sm-4 mb-r wow fadeInUp" data-wow-delay="0.2s">

                <!--Collection card-->
                <div class="card collection-card z-depth-1-half">
                    <!--Card image-->
                    <div class="view hm-black-light hm-zoom">
                        <img src="~/Content/img/coat.jpg" class="img-fluid" alt="" />
                        <div class="mask">
                            <div class="stripe light">
                                <a>
                                    <p>Coat</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--/Card image-->
                </div>
                <!--/Collection card-->
            </div>
            <!--/Sixth column-->
            <!--Seventh column-->
            <div class="col-6 col-lg-3 col-sm-4 mb-r wow fadeInUp" data-wow-delay="0.2s">

                <!--Collection card-->
                <div class="card collection-card z-depth-1-half">
                    <!--Card image-->
                    <div class="view hm-black-light hm-zoom">
                        <img src="~/Content/img/toothbrush_blue.jpeg" class="img-fluid" alt="" />
                        <div class="mask">
                            <div class="stripe light">
                                <a>
                                    <p>Hygiene Kit</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--/Card image-->
                </div>
                <!--/Collection card-->
            </div>
            <!--/Seventh column-->
        </div>
        <!--/First row-->

    </section>

    <hr class="between-sections">

    <!--Section: Who We Help-->
    <section class="section">
        <!--Section heading-->
        <h1 class="section-heading wow fadeIn" data-wow-delay="0.2s">Who We Help</h1>
        <!--Section description-->
        <p class="section-description wow fadeIn" data-wow-delay="0.2s">
            Many of us take for granted the fact that we can give our kids clean clothes that fit and are appropriate for school.
            We might be surprised to learn that children in our kids classes do not have this same luxury.  Kids can be without proper clothing for a number
            of reasons:
        </p>

        <!--First row-->
        <div class="row wow fadeInLeft" data-wow-delay="0.4s">
            <!--First column-->
            <div class="col-sm-4 mb-r wow fadeIn" data-wow-delay="0.4s">
                <!--Card-->
                <div class="card card-cascade wider">
                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="~/Content/img/downloaded/Need_A_Miracle.jpg" class="img-fluid" />
                        <a href="#!">
                            <div class="mask waves-effect waves-light"></div>
                        </a>
                    </div>
                    <!--/Card image-->
                    <!--Card content-->
                    <div class="card-body striped">
                        <!--Title-->
                        <h4 class="card-title text-center"><strong>Income</strong></h4>
                        <!--/Title-->

                        <br />

                        <ul class="pl-0" style="list-style:none;">
                            <li class="flex-center">
                                <p><i class="fa fa-check green-text"></i> Poverty</p>
                            </li>
                            <li class="flex-center">
                                <p><i class="fa fa-check green-text"></i> Low Income</p>
                            </li>
                            <li class="flex-center">
                                <p><i class="fa fa-check green-text"></i> Job Loss</p>
                            </li>
                            <li class="flex-center">
                                <p><i class="fa fa-check green-text left"></i> Disability</p>
                            </li>
                            <li class="flex-center" style="border-bottom: 0px;">
                                <p><i class="fa fa-check green-text left"></i> Death</p>
                            </li>
                        </ul>
                    </div>
                    <!--Card content-->
                </div>
                <!--/Card-->
            </div>
            <!--/First column-->
            <!--Second column-->
            <div class="col-sm-4 mb-r wow fadeInLeft" data-wow-delay="0.4s">
                <!--Card-->
                <div class="card card-cascade wider">
                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="~/Content/img/downloaded/looking_for_a_friend.jpeg" class="img-fluid" />
                        <a href="#!">
                            <div class="mask waves-effect waves-light"></div>
                        </a>
                    </div>
                    <!--/Card image-->
                    <!--Card content-->
                    <div class="card-body striped">
                        <!--Title-->
                        <h4 class="card-title text-center"><strong>Absent Parents</strong></h4>
                        <!--/Title-->

                        <br />

                        <ul class="pl-0" style="list-style:none;">
                            <li class="flex-center">
                                <p><i class="fa fa-check green-text"></i> Orphan</p>
                            </li>
                            <li class="flex-center">
                                <p><i class="fa fa-check green-text"></i> Foster Care</p>
                            </li>
                            <li class="flex-center" style="border-bottom: 0px;">
                                <p><i class="fa fa-check green-text left"></i> Prison</p>
                            </li>
                        </ul>
                    </div>
                    <!--Card content-->
                </div>
                <!--/Card-->
            </div>
            <!--/Second column-->
            <!--Third column-->
            <div class="col-sm-4 mb-r wow fadeInLeft" data-wow-delay="0.4s">
                <!--Card-->
                <div class="card card-cascade wider">
                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="~/Content/img/downloaded/firefighters.jpeg" class="img-fluid" />
                        <a href="#!">
                            <div class="mask waves-effect waves-light"></div>
                        </a>
                    </div>
                    <!--/Card image-->
                    <!--Card content-->
                    <div class="card-body striped">
                        <!--Title-->
                        <h4 class="card-title text-center"><strong>Disaster</strong></h4>
                        <!--/Title-->

                        <br />

                        <ul class="pl-0" style="list-style:none;">
                            <li class="flex-center">
                                <p><i class="fa fa-check green-text"></i> Fire</p>
                            </li>
                            <li class="flex-center">
                                <p><i class="fa fa-check green-text"></i> Tornado</p>
                            </li>
                            <li class="flex-center" style="border-bottom: 0px;">
                                <p><i class="fa fa-check green-text left"></i> Flood</p>
                            </li>
                        </ul>
                    </div>
                    <!--Card content-->
                </div>
                <!--/Card-->
            </div>
            <!--/Third column-->
        </div>
        <!--/First row-->

        <p class="section-description wow fadeIn" data-wow-delay="0.2s">
            We want to help kids in each of these situations by giving them clothing that fits well, is lightly used or new, and is appropriate for school.
            We rely on school officials or other child advocate organizations to contact us on behalf of the children so that we can protect the child’s anonymity.
        </p>
    </section>
    <!--/Section: Who We Help-->

    <hr class="between-sections">

    <!--Section: How We Operate-->
    <section class="section">
        <h1 class="section-heading wow fadeIn" data-wow-delay="0.2s">How We Operate</h1>

        <h3 class="h3-responsive wow fadeIn" data-wow-delay="0.2s">Closed to Public</h3>
        <p class="section-description wow fadeIn" data-wow-delay="0.2s" style="text-align: left; margin-left: 0px; margin-right: 0px;">We are unique because we are <strong>closed</strong> to the <strong>public</strong>. We operate through local schools and other organizations by receiving requests from teachers, counselors, principals, or other child advocates.<p>

            <h3 class="h3-responsive wow fadeIn" data-wow-delay="0.2s">Discrete</h3>
        <p class="section-description wow fadeIn" data-wow-delay="0.2s" style="text-align: left; margin-left: 0px; margin-right: 0px;">
            We know that it is <strong>difficult</strong> for a parent to ask for clothing for their children.
            We believe that every request should be <strong>private</strong> between the school official or child advocate and the parents.
            For this reason, Clothe Our Kids of North Alabama will <strong>never</strong> know the identity of the children we provide clothing for.
            The school official or child advocate sends us general information with each request that includes only the child's gender, grade, school, and sizes.  We bag up the clothing and hygiene items needed and deliver the bag to the school official or child advocate to <strong>discretely</strong> give to the child.
            The bags we use are plain and unmarked, so they will not draw attention to children as they receive the bag at school to take it home.
        </p>

        <h3 class="h3-responsive wow fadeIn" data-wow-delay="0.2s">Clothing with Confidence</h3>
        <p class="section-description wow fadeIn" data-wow-delay="0.2s" style="text-align: left; margin-left: 0px; margin-right: 0px;">We strive to give each child the best clothing we can so they can go to school feeling <strong>confident</strong>. To make this possible, we only give clothing that is in <strong>great</strong> condition - that means <strong>no stains or tears</strong>.</p>

    </section>
    <!--/Section: How We Operate-->

</div>



@section customScript
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#FBShare').click(function () {
                FB.ui({
                    method: 'share',
                    mobile_iframe: true,
                    href: 'https://www.givekidsclothes.com/Our-Work',
                }, function (response) { });
            });
        });
    </script>
}
