@section pageCSS
{
    <style>
        html,
        body,
        #page-wrapper,
        header,
        .view {
            height: 100vh;
        }

        /* Navigation*/
        .navContainer {
            width: 100%;
            position: absolute;
        }

        @@media(max-width: 1199px) {
            .navContainer {
                position: static;
                border: 0;
            }
        }

        * .full-bg-img {
            color: #fff;
        }

        .view {
            background: url("../../Content/img/bg/child-girl-happy.jpg")no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }


        @@media (max-width: 992px) {
            .view {
                height: calc(100vh - 163px);
            }
        }

        @@media (min-width: 1200px) {
            .logo-container {
                background: url("../../Content/img/logo/ClotheOurKidsLogo_withMC_Scaled_whiteText.png") left top no-repeat !important;
            }
        }
    </style>
}

@section headerMask
{

    <!--Mask-->
    <div class="view hm-black-strong">
        <div class="full-bg-img flex-center align-items-center justify-content-md-start justify-content-sm-center" id="home">
            <ul class="text-center ml-5">
                <li>
                    <h1 class="h1-responsive wow fadeInUp">Clothe Our Kids of Morgan County</h1>
                </li>
                <li>
                    <p class="wow fadeInUp" data-wow-delay="0.2s">Coming August 2017...</p>
                </li>
            </ul>
        </div>
    </div>
    <!--/.Mask-->
}